
header,.header{
  
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #FFFFFF;
border: 1px solid #E8EAF2;
border-radius: 5px;
/* margin-bottom: 5px; */


}
.header > tr{
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}
.hide{
  display: none;
}
@media (max-width: 767px){
  .modals{
    /* width: 100% !important;
    height: 100vh !important; */

  }
}
.ColumnWidth{
  
  width: calc(100% /attr(widthL));
}

.header:nth-child(even){
    background-color: #E8EAF2;
}
.header:first-child{
    background: #FFFFFF;
    padding: 1.5rem;
}
.header:nth-child(2){
    background: #FFFFFF;
    padding: 1.2rem;
    margin-bottom: 5px;
}
.right-div{
    display: flex;
    justify-content: space-around;
    gap:15px;
    >span{
       width: 14.2%;
    }
}

 .plus {
    background:#007AFF;
    padding: 5px;
    border-radius: 3px;
  }

  .editandtrash{
    width: auto;
    height: 17px;
    margin-left: 5px;
  }
  
  .greenElips,.redElips{
    border-radius: 30px;
  }
  .greenElips{
    background-color: green;
  }
  .redElips{
    background-color: red;
  }


  /* ----------------- ADD PAGE  ---------------- */

  .AddWrapper{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 27%;
    height: 100vh;
   box-shadow: 1px 1px 5px #007AFF;
   background-color: wheat;
    padding: 30px 20px;
    box-sizing: border-box;
    transition: all 0.6 ease-in-out;
  }
  @media (max-width: 993px){
    .AddWrapper{
      width: 50%;

    }
  }
  @media (max-width: 767px){
    .AddWrapper{
      width: 100%;

    }
  }

  .inputWrapper{
    display: flex;
    flex-direction: column;
   

  }

  .inputWrapper>.input{
    margin-bottom: 10px;
    padding: 5px 10px;
    }
  .inputWrapper>.label{
    text-align: left;
    margin-bottom: 5px;
    font-weight: 500;
    }



    /* ____________ settings ----------- */

     .settinInputWrap {
       display: flex;
       flex-direction: row;
    /* align-items: center; */
      }